<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Analyze</title>
  </head>
  <body>
    <video autoplay muted id="video"></video>

    <!-- Webcam video snapshot -->
    <!-- <canvas id="canvas" width="640" height="480"></canvas> -->

    <img id="resultimg">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js" integrity="sha512-QTnb9BQkG4fBYIt9JGvYmxPpd6TBeKp6lsUrtiVQsrJ9sb33Bn9s0wMQO9qVBFbPX3xHRAsBHvXlcsrnJjExjg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
      const video = document.getElementById("video");
      const canvas = document.createElement("canvas");
      canvas.height = 480;
    canvas.width = 640;
      const resultimg = document.getElementById("resultimg");

      const constraints = {
        audio: false,
        video: {
          width: 640,
          height: 480,
        },
      };

      // Access webcam
      async function init() {
        try {
          const stream = await navigator.mediaDevices.getUserMedia(constraints);
          window.stream = stream;
          video.srcObject = stream;
        } catch (e) {
          console.log(e);
        }
      }

      // Load init
      init();

      // Draw image
      var context = canvas.getContext("2d");
      setInterval(function () {
        context.drawImage(video, 0, 0, 640, 480);
        var jpegUrl = canvas.toDataURL("image/jpeg", 0.5);
        // split at ,
        var base64 = jpegUrl.split(",")[1];

        axios.post("/detect", base64).then((res) => {
            console.log(res.data)
            resultimg.src =  "data:image/jpeg;base64,"+res.data;
        });
      }, 100);

    </script>
  </body>
</html>
